$deep-sky-blue: #0d7bf8;
$clear-blue: #175de5;
$barbie-pink: #ff33bb;
$neon-purple: #b219ff;
$orangey-yellow: #ffb31a;
$black: #333333;
$dusky-blue: #405580;
$grey-blue: #6c87a6;
$very-light-blue: #e2eaf4;
$white: #ffffff;
