.container {
  max-width: 1560px;
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.circle-button {
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 12px 0 rgba(0, 80, 203, 0.1);
  background-color: $white;
  border: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(51, 146, 255, 0.2);
    background-color: $deep-sky-blue;
    cursor: pointer;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .circle-button {
    width: 32px;
    height: 32px;
  }
}
