h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 56px;
  font-weight: 900;
  color: $white;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 32px;
  font-weight: 900;
  color: $white;
}

h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 28px;
  font-weight: 900;
  color: $black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: $grey-blue;
  font-weight: 400;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
}

h6 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: $black;
}

nav a {
  font-family: Roboto;
  font-size: 16px;
  color: $dusky-blue;
  transition: color 0.2s ease;

  &:hover {
    color: $clear-blue;
  }
}
