<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <meta name="yandex-verification" content="e42e1f4564b88ce2" />
    <title>Major Gifts | Лучший агрегатор подарков</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:700,900|Roboto&display=swap&subset=cyrillic" />
  </head>
  <body style="position: relative">
    <noscript>
      <strong>We're sorry but major-gifts-web doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
