<template>
  <div class="container">
    <router-link to="/">
      <button class="back-to-articles up">
        <img src="../assets/left-arrow-blue.svg" alt="<—" />
        Назад к статьям
      </button>
    </router-link>
    <router-link to="/">
      <button class="back-to-articles down">
        <img src="../assets/left-arrow-blue.svg" alt="<—" />
        Назад к статьям
      </button>
    </router-link>
    <div class="article-container">
      <img
        src="https://www.extremeiceland.is/media/8747/skogafoss-famous-waterfall-iceland-1.jpg"
        alt
        class="article-image"
      />
      <h1>5 идей, что подарить подруге на день рождения</h1>
      <p class="date">2 мая 2019</p>
      <p>
        Девушки в любом возрасте любят похожие вещи, но выбор подарка подруге от
        этого знания отнюдь не становится легче. Подскажем несколько идей
        подарков подруге на день рождения — вдохновляйтесь.
      </p>
      <h2><span>1.</span>Косметика</h2>
      <p>
        Косметика — один из самых беспроигрышных вариантов поздравления для
        девушки. С любым праздником. Постарайтесь вспомнить: наверняка ваша
        подруга говорила, что давно хочет какую-то определенную косметическую
        новинку!
      </p>
      <div class="pros-cons">
        <div class="pros">
          <h3>Можно подарить</h3>
          <div class="separator"></div>
          <p>
            Декоративную косметику: палетку теней, хайлайтер, бронзер, карандаш
            для глаз. Уходовую: увлажняющий крем, масло для кожи или для волос.
          </p>
        </div>
        <div class="cons">
          <h3>Дарить не стоит</h3>
          <div class="separator"></div>
          <p>
            Косметику необычных цветов и текстур, которые нужно подбирать
            индивидуально к качеству и цветотипу кожи и волос.
          </p>
        </div>
      </div>
      <div class="present-links">
        <div class="present">
          <img
            src="https://onlinejpgtools.com/images/examples-onlinejpgtools/coffee-resized.jpg"
            alt
          />
          <div>
            <p>Красивое зеркало «Инь-Ян» с длинным названием в 2 строчки</p>
            <span>1 299 ₽</span>
            <button>Купить</button>
          </div>
        </div>
        <div class="present">
          <img
            src="http://cheb-room.ru/uploads/cheb/2016/11/w9RC4W-QqXw-200x200.jpg"
            alt
          />
          <div>
            <p>Бритвенный набор с малахитом</p>
            <span>83 900 ₽</span>
            <button>Купить</button>
          </div>
        </div>
      </div>
      <h2>
        <span>2.</span>
        Ювелирные украшения и бижутерия
      </h2>
      <p>
        Если ваша подруга любит различные украшения, она всегда будет рада
        новенькому. Подумайте, что чаще носит ваша подруга — серебро или золото,
        натуральные камни или яркую оригинальную бижутерию.
      </p>
      <div class="present-links">
        <div class="present">
          <img
            src="https://onlinejpgtools.com/images/examples-onlinejpgtools/coffee-resized.jpg"
            alt
          />
          <div>
            <p>Красивое зеркало «Инь-Ян» с длинным названием в 2 строчки</p>
            <span>1 299 ₽</span>
            <button>Купить</button>
          </div>
        </div>
        <div class="present">
          <img
            src="http://cheb-room.ru/uploads/cheb/2016/11/w9RC4W-QqXw-200x200.jpg"
            alt
          />
          <div>
            <p>Бритвенный набор с малахитом</p>
            <span>83 900 ₽</span>
            <button>Купить</button>
          </div>
        </div>
      </div>
      <p>
        Будьте внимательны, подмечайте разные намеки и «девчачьи» желания вашей
        подруги и пробуйте их осуществлять. Ведь дружба — большой подарок
        судьбы. А подарки на праздники — то малое проявление любви и заботы,
        которое можно дать друг другу.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "article-page"
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/colors.scss";
@import "@/global-styles/typography.scss";
@import "@/global-styles/components.scss";

.container {
  margin-top: 60px;
  position: relative;

  .back-to-articles {
    width: 209px;
    height: 50px;
    border-radius: 20px;
    border: solid 1px $very-light-blue;
    background-color: $white;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.33;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    transition: all 0.2s ease;

    img {
      margin-right: 8px;
    }

    &.up {
      top: 0;
    }

    &.down {
      bottom: 0;
    }

    &:hover {
      border-color: $deep-sky-blue;
    }
  }

  .article-container {
    max-width: 740px;
    margin: 0 auto;
    position: relative;

    .article-image {
      width: 100%;
      height: 350px;
      border-radius: 80px;
    }

    h1 {
      font-size: 32px;
      color: $black;
      margin-bottom: 30px;
      margin-top: 20px;
    }

    p {
      font-family: Roboto;
      font-size: 18px;
      color: $black;

      &.date {
        color: $orangey-yellow;
        margin-bottom: 30px;
      }
    }
    h2 {
      margin-top: 60px;
      margin-bottom: 30px;
      font-size: 28px;
      color: $black;

      span {
        color: $deep-sky-blue;
        position: absolute;
        left: -40px;
      }
    }

    .pros-cons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
      margin-top: 50px;

      h3 {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .separator {
        width: 32px;
        height: 4px;
        border-radius: 100px;
        margin-bottom: 15px;
      }

      .pros .separator {
        background-color: #00d9b8;
      }

      .cons .separator {
        background-color: $barbie-pink;
      }
    }
    .present-links {
      margin-top: 50px;
      margin-bottom: 40px;

      .present {
        width: 100%;
        height: 160px;
        border-radius: 60px;
        border: solid 1px $very-light-blue;
        background-color: $white;
        margin-bottom: 20px;
        padding: 30px 40px;
        display: flex;
        align-items: center;
        transition: all 0.2s ease;
        cursor: pointer;
        position: relative;

        img {
          width: 100px;
          height: 100px;
          border-radius: 36px;
          margin-right: 30px;
        }

        p {
          margin-bottom: 15px;
          max-width: 400px;
        }

        span {
          font-family: "Montserrat Alternates", sans-serif;
          font-size: 20px;
          font-weight: 500;
          line-height: 1.6;
          color: $clear-blue;
        }

        button {
          width: 100px;
          height: 48px;
          border-radius: 200px;
          border: solid 1px $very-light-blue;
          background-color: $white;
          font-family: Roboto;
          font-size: 18px;
          color: $dusky-blue;
          position: absolute;
          right: 40px;
          bottom: 30px;
          opacity: 0;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            background-color: $deep-sky-blue;
            border-width: 0;
            color: $white;
          }
        }

        &:hover {
          box-shadow: 0 10px 20px 0 rgba(0, 80, 203, 0.1);
          border-width: 0;

          button {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1300px) {
  .container .back-to-articles {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .article-container h2 span {
      left: 0;
      position: relative;
      margin-right: 12px;
    }
  }
}

@media screen and (max-width: 550px) {
  .container {
    margin-top: 16px;

    .article-container {
      .article-image {
        height: 228px;
        border-radius: 60px;
      }

      h1 {
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      p {
        font-size: 14px;

        &.date {
          margin-bottom: 24px;
        }
      }

      h2 {
        font-size: 16px;
        margin-top: 36px;
        margin-bottom: 16px;
      }

      .pros-cons {
        margin-top: 28px;
        grid-gap: 10px;

        h3 {
          font-size: 14px;
          margin-bottom: 12px;
        }

        .separator {
          height: 2px;
          margin-bottom: 12px;
        }
      }

      .present-links {
        margin-top: 32px;
        margin-bottom: 32px;

        .present {
          padding: 0;
          border: none;
          height: auto;

          img {
            width: 60px;
            height: 60px;
            border-radius: 22px;
            margin-right: 12px;
          }

          p {
            margin-bottom: 8px;
          }

          span {
            font-size: 14px;
            line-height: 1.14;
          }

          button {
            display: none;
          }

          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
}
</style>
