<template>
  <div class="home">
    <WhoToGift />
    <Constructor />
    <Articles />
  </div>
</template>

<script>
// @ is an alias to /src
import WhoToGift from "@/components/WhoToGift.vue";
import Constructor from "@/components/Constructor.vue";
import Articles from "@/components/Articles.vue";

export default {
  name: "home",
  components: {
    WhoToGift,
    Constructor,
    Articles
  }
};
</script>
