<template>
  <div class="container">
    <div class="product">
      <div class="product-images">
        <div class="miniatures" id="miniatures" :style="{}">
          <div
            class="miniature"
            @click="pickedImage = 0"
            :class="{ active: pickedImage == 0 }"
          >
            <img
              src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg"
              alt
            />
          </div>
          <div
            class="miniature"
            @click="pickedImage = 1"
            :class="{ active: pickedImage == 1 }"
          >
            <img
              src="http://cheb-room.ru/uploads/cheb/2016/11/w9RC4W-QqXw-200x200.jpg"
              alt
            />
          </div>
          <div
            class="miniature"
            @click="pickedImage = 2"
            :class="{ active: pickedImage == 2 }"
          >
            <img
              src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg"
              alt
            />
          </div>
        </div>
        <div class="full-images-container">
          <div
            class="full-images"
            :style="{ top: 'calc(-100% * ' + pickedImage + ')' }"
          >
            <img
              src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg"
              alt
            />
            <img
              src="http://cheb-room.ru/uploads/cheb/2016/11/w9RC4W-QqXw-200x200.jpg"
              alt
            />
            <img
              src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg"
              alt
            />
          </div>
        </div>
      </div>
      <div class="product-info">
        <h2>Наволочка «Ангел»</h2>
        <span>1 490 ₽</span>
        <p>
          Спальня – это место, в котором человек по статистике проводит треть
          своей жизни. Именно поэтому такой подарок совершенно точно не
          останется незамеченным и будет ежедневно напоминать своему хозяину про
          того, кто подарил ему такой яркий и необычный предмет интерьера.
        </p>
        <div class="buttons">
          <button class="shop-button">Перейти в магазин</button>
          <a href="#">Долина подарков</a>
          <button class="circle-button" id="favourite">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="17"
              fill="none"
              viewBox="0 0 18 17"
            >
              <path
                fill="#FFA426"
                d="M8.443.313a.508.508 0 0 1 .938 0l2.098 5.046a.508.508 0 0 0 .429.311l5.447.437c.45.036.633.598.29.892l-4.15 3.555a.508.508 0 0 0-.164.503l1.268 5.316a.508.508 0 0 1-.759.551l-4.664-2.848a.508.508 0 0 0-.53 0l-4.663 2.848a.508.508 0 0 1-.758-.551l1.267-5.316a.508.508 0 0 0-.163-.503L.179 6.999a.508.508 0 0 1 .29-.892l5.447-.437a.508.508 0 0 0 .428-.311L8.443.313z"
              />
            </svg>
          </button>
        </div>
        <h6>Кому подарить</h6>
        <div class="tags">
          <div class="tag">Любимой</div>
          <div class="tag">Подруге</div>
          <div class="tag">Сестре</div>
          <div class="tag">Маме</div>
          <div class="tag">Жене</div>
        </div>
        <h6>По какому поводу</h6>
        <div class="tags">
          <div class="tag">Любой повод</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Product-page",
  data() {
    return {
      pickedImage: 0
    };
  }
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/colors.scss";
@import "@/global-styles/typography.scss";
@import "@/global-styles/components.scss";

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-top: 80px;

  .product-images {
    display: flex;

    .miniatures {
      display: flex;
      flex-direction: column;

      .miniature {
        width: 90px;
        height: 90px;
        border-radius: 28px;
        transition: all 0.2s ease;
        border: solid 1px transparent;
        cursor: pointer;
        margin-bottom: 20px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }

        &.active {
          border: solid 2px $deep-sky-blue;
          cursor: default;
          box-shadow: 0px 10px 20px rgba(0, 80, 203, 0.1);

          &:hover {
            border-color: $deep-sky-blue;
          }
        }

        &:hover {
          border-color: $very-light-blue;
        }
      }
    }

    .full-images-container {
      width: 480px;
      height: 480px;
      border-radius: 120px;
      overflow: hidden;
      margin-left: 80px;
      position: relative;

      .full-images {
        position: absolute;
        transition: all 0.2s ease;

        img {
          width: 100%;
          height: 100%;
          margin-bottom: -4px;
        }
      }
    }
  }

  .product-info {
    h2 {
      color: $black;
      margin-bottom: 15px;
    }

    span {
      font-family: "Montserrat Alternates", sans-serif;
      font-size: 32px;
      font-weight: 900;
      color: $deep-sky-blue;
    }

    p {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      line-height: 1.56;
      color: $dusky-blue;
      margin-top: 35px;
    }

    .buttons {
      display: flex;
      align-items: center;
      margin-top: 40px;
      margin-bottom: 60px;

      .shop-button {
        width: 240px;
        height: 60px;
        border-radius: 40px;
        box-shadow: 0 10px 20px 0 rgba(51, 146, 255, 0.4);
        background-color: $deep-sky-blue;
        border: none;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: $white;
        cursor: pointer;
      }

      a {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: $clear-blue;
        margin-left: 20px;
      }

      #favourite {
        margin-left: 40px;

        &:hover {
          box-shadow: 0 10px 20px 0 rgba(255, 164, 38, 0.2);
          background-color: #ffa426;

          svg path {
            fill: $white;
          }
        }
      }
    }

    h6 {
      margin-bottom: 20px;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;

      .tag {
        height: 60px;
        border-radius: 28px;
        border: solid 1px $very-light-blue;
        background-color: $white;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 1.33;
        color: $dusky-blue;
        margin-right: 10px;
        transition: all 0.2s ease;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover {
          box-shadow: 0 10px 20px 0 rgba(0, 80, 203, 0.1);
          border-color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .product {
    margin-top: 60px;

    .product-images .full-images-container {
      margin-left: 40px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .product .product-images .full-images-container {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .product-images {
      flex-direction: row-reverse;
      width: 604px;
      margin-bottom: 20px;

      .miniatures {
        margin-right: 0;
      }

      .full-images-container {
        width: 480px;
        height: 480px;
        margin-left: 0;
        margin-right: auto;
      }
    }

    .product-info {
      width: 604px;
    }
  }
}

@media screen and (max-width: 644px) {
  .product {
    margin-top: 16px;

    .product-images {
      width: auto;
      margin-bottom: 16px;

      .full-images-container {
        width: 272px;
        height: 272px;
        border-radius: 60px;
        margin-right: 8px;
      }

      .miniatures .miniature {
        width: 48px;
        height: 48px;
        border-radius: 18px;
        margin-bottom: 4px;
      }
    }

    .product-info {
      width: auto;

      h2 {
        font-size: 16px;
        margin-bottom: 8px;
      }

      span {
        font-size: 18px;
      }

      p {
        font-size: 14px;
        line-height: 1.43;
        margin-top: 28px;
      }

      .buttons {
        margin-top: 24px;
        margin-bottom: 40px;

        .shop-button {
          width: 160px;
          height: 48px;
          border-radius: 40px;
          font-size: 14px;
        }

        a {
          font-size: 12px;
          margin-left: 12px;
        }

        .circle-button {
          display: none;
        }
      }

      h6 {
        font-size: 14px;
        line-height: 1.43;
        margin-bottom: 16px;
      }

      .tags {
        margin-bottom: 32px;

        .tag {
          font-size: 14px;
          padding: 12px;
          height: 36px;
          margin-right: 4px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
</style>
