<template>
  <div class="container">
    <h2>Что подарить?</h2>
    <div class="articles">
      <div class="big-article-block">
        <img src="@/assets/articles-img1.png" />
        <h3>Выбираем классный подарок на день рождения брата</h3>
      </div>
      <div class="big-article-block">
        <img src="@/assets/articles-img1.png" />
        <h3>Выбираем классный подарок на день рождения брата</h3>
      </div>
      <div class="big-article-block">
        <img src="@/assets/articles-img1.png" />
        <h3>Выбираем классный подарок на день рождения брата</h3>
      </div>
      <div class="big-article-block">
        <img src="@/assets/articles-img1.png" />
        <h3>Выбираем классный подарок на день рождения брата</h3>
      </div>
      <div class="more-articles">
        <div class="small-article-block">
          <img class="article-image" src="@/assets/more-articles-img1.png" />
          <h3>10 оригинальных подарков на день рождения для любимой сестры</h3>
        </div>
        <div class="small-article-block">
          <img class="article-image" src="@/assets/more-articles-img1.png" />
          <h3>10 оригинальных подарков на день рождения для любимой сестры</h3>
        </div>
        <div class="small-article-block">
          <img class="article-image" src="@/assets/more-articles-img1.png" />
          <h3>10 оригинальных подарков на день рождения для любимой сестры</h3>
        </div>
        <div class="small-article-block">
          <img class="article-image" src="@/assets/more-articles-img1.png" />
          <h3>10 оригинальных подарков на день рождения для любимой сестры</h3>
        </div>
        <div class="small-article-block">
          <img class="article-image" src="@/assets/more-articles-img1.png" />
          <h3>10 оригинальных подарков на день рождения для любимой сестры</h3>
        </div>
        <div class="small-article-block" id="show-all">
          <div class="article-image">13+</div>
          <h3>Все статьи</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Articles"
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/colors.scss";
@import "@/global-styles/typography.scss";
@import "@/global-styles/components.scss";

h2 {
  font-size: 36px;
  color: $black;
  margin-bottom: 40px;
  margin-top: 80px;
}

.articles {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 49px;
  grid-template-columns: 1fr 1fr 1fr;

  h3 {
    font-weight: 500;
  }

  .big-article-block {
    cursor: pointer;

    h3 {
      font-size: 20px;
      margin-top: 15px;
      line-height: 1.4;
      transition: all 0.2s ease;
    }

    img {
      width: 100%;
      height: 341px;
      border-radius: 80px;
    }

    &:hover {
      h3 {
        color: $clear-blue;
      }
    }
  }

  .small-article-block {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

    .article-image {
      width: 120px;
      height: 120px;
      border-radius: 40px;
    }

    &#show-all {
      .article-image {
        background: $deep-sky-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 32px;
        font-weight: 500;
        color: $white;
        transition: all 0.2s ease;
      }

      &:hover {
        .article-image {
          box-shadow: 0 10px 20px 0 rgba(51, 146, 255, 0.4);
        }
      }
    }

    h3 {
      font-size: 18px;
      line-height: 1.33;
      margin-left: 25px;
      transition: all 0.2s ease;
    }

    &:hover {
      h3 {
        color: $clear-blue;
      }
    }
  }

  .more-articles {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 1440px) {
  h2 {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .articles {
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 1440px) {
  .articles .small-article-block h3 {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .articles {
    grid-column-gap: 16px;
    grid-template-columns: 1fr 1fr;

    .more-articles {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;

      .small-article-block:nth-child(n + 4):nth-child(-n + 5) {
        display: none;
      }
    }

    .small-article-block {
      margin: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .articles .big-article-block img {
    height: 280px;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    margin-top: 36px;
    margin-bottom: 24px;
    font-size: 18px;
  }

  .articles {
    grid-row-gap: 28px;
    grid-template-columns: auto;

    .more-articles {
      grid-column: auto;
      grid-row: auto;
      grid-template-columns: auto;
      grid-gap: 8px;

      .small-article-block:nth-child(n + 4):nth-child(-n + 5) {
        display: flex;
      }
    }

    .big-article-block {
      img {
        border-radius: 60px;
      }

      h3 {
        font-size: 16px;
        line-height: 1.25;
        margin-top: 8px;
      }

      &:nth-child(n + 3):nth-child(-n + 4) {
        display: none;
      }
    }

    .small-article-block {
      .article-image {
        width: 76px;
        height: 76px;
        border-radius: 24px;
      }

      h3 {
        font-size: 14px;
        line-height: 1.43;
        margin-left: 8px;
      }

      &#show-all .article-image {
        font-size: 16px;
      }
    }
  }
}
</style>
