<template>
  <div class="container">
    <div class="constructor">
      <div class="step" :class="{ hidden: step == 2 }">
        <div class="heading-container">
          <img src="@/assets/logo.svg" alt="Logo" class="icon" />
          <div class="headline">
            <h3>Подберите идеальный подарок</h3>
            <h4>Для человека, который вам дорог</h4>
            <h4 class="steps">1 шаг из 2</h4>
          </div>
        </div>
        <div class="content">
          <div class="constructor-field-container">
            <h5>Пол</h5>
            <div class="constructor-field" id="gender-picker">
              <div
                class="gender"
                id="woman"
                :class="{ active: gender == 'Женский' }"
                @click="changeGender('Женский')"
              >
                Женский
              </div>
              <div
                class="gender"
                id="man"
                :class="{ active: gender == 'Мужской' }"
                @click="changeGender('Мужской')"
              >
                Мужской
              </div>
              <div
                class="slider"
                :class="{
                  man: gender == 'Мужской',
                  woman: gender == 'Женский'
                }"
              ></div>
            </div>
          </div>
          <div class="constructor-field-container">
            <h5>Хобби</h5>
            <div class="dropdown-container">
              <div
                class="constructor-field dropdown"
                :class="{ active: isHobbyDropdownOpened }"
              >
                <div class="placeholder" @click="changeHobbyDropdownState">
                  <p :class="{ active: hobby != 'Выберите хобби' }">
                    {{ hobby }}
                  </p>
                  <svg
                    width="18"
                    height="11"
                    viewBox="0 0 18 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 2L9 9L2 2"
                      stroke="#A2B6CC"
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div
                  class="dropdown-content"
                  :class="{ active: isHobbyDropdownOpened }"
                >
                  <p @click="changeHobby('Кулинар')">Кулинар</p>
                  <p @click="changeHobby('Киноман')">Киноман</p>
                  <p @click="changeHobby('Спортсмен')">Спортсмен</p>
                  <p>Фотограф</p>
                  <p>Художник</p>
                  <p>Рыбак</p>
                  <p>Охотник</p>
                  <p>Кто-нибудь еще</p>
                  <p>Кто-нибудь еще</p>
                  <p>Кто-нибудь еще</p>
                </div>
              </div>
            </div>
          </div>
          <div class="constructor-field-container">
            <h5>Цена до</h5>
            <div class="range-container">
              <input
                type="range"
                min="500"
                max="30000"
                v-model="maxPrice"
                ref="maxPriceRange"
                @input="calculateMaxPriceRangeWidth"
              />
              <div
                class="range-thumb-content"
                :style="{
                  left: ((maxPrice - 500) / 29500) * maxPriceRangeWidth + 'px'
                }"
              >
                <p>{{ maxPrice }}₽</p>
              </div>
            </div>
          </div>
          <div class="constructor-field-container">
            <h5>Возраст</h5>
            <div class="range-container" id="ageRange">
              <input
                type="range"
                min="0"
                max="100"
                v-model="age"
                ref="ageRange"
                @input="calculateAgeRangeWidth"
              />
              <div
                class="range-thumb-content"
                :style="{
                  left: (age / 100) * ageRangeWidth + 'px'
                }"
              >
                <p>{{ age }}</p>
              </div>
            </div>
          </div>
          <div class="constructor-field-container">
            <h5>Профессия</h5>
            <div class="dropdown-container">
              <div
                class="constructor-field dropdown"
                :class="{ active: isWorkDropdownOpened }"
              >
                <div class="placeholder" @click="changeWorkDropdownState">
                  <p :class="{ active: work != 'Выберите профессию' }">
                    {{ work }}
                  </p>
                  <svg
                    width="18"
                    height="11"
                    viewBox="0 0 18 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 2L9 9L2 2"
                      stroke="#A2B6CC"
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div
                  class="dropdown-content"
                  :class="{ active: isWorkDropdownOpened }"
                >
                  <p @click="changeWork('Кулинар')">Кулинар</p>
                  <p @click="changeWork('Киноман')">Киноман</p>
                  <p @click="changeWork('Спортсмен')">Спортсмен</p>
                  <p>Фотограф</p>
                  <p>Художник</p>
                  <p>Рыбак</p>
                  <p>Охотник</p>
                  <p>Кто-нибудь еще</p>
                  <p>Кто-нибудь еще</p>
                  <p>Кто-нибудь еще</p>
                </div>
              </div>
            </div>
          </div>
          <button id="next" @click="step = 2">
            Далее
            <div class="button-inside">
              <img src="../assets/left-arrow-blue.svg" alt="—>" />
            </div>
          </button>
        </div>
      </div>
      <div class="step" id="second-step" :class="{ active: step == 2 }">
        <div class="heading-container">
          <img src="@/assets/icn_champagne.svg" alt="champagne" class="icon" />
          <div class="headline">
            <h3>Какой повод?</h3>
            <h4>Выберите праздник</h4>
            <h4 class="steps">2 шаг из 2</h4>
          </div>
        </div>
        <div class="content">
          <div class="constructor-field-container">
            <h4>Или укажите</h4>
            <div class="holidays">
              <div class="holiday">
                <input
                  type="radio"
                  v-model="holiday"
                  id="radio-1"
                  value="День рождения"
                />
                <label for="radio-1">День рождения</label>
              </div>
              <div class="holiday">
                <input
                  type="radio"
                  v-model="holiday"
                  id="radio-2"
                  value="Юбилей"
                />
                <label for="radio-2">Юбилей</label>
              </div>
              <div class="holiday">
                <input
                  type="radio"
                  v-model="holiday"
                  id="radio-3"
                  value="Свадьба"
                />
                <label for="radio-3">Свадьба</label>
              </div>
              <div class="holiday">
                <input
                  type="radio"
                  v-model="holiday"
                  id="radio-4"
                  value="Годовщина свадьбы"
                />
                <label for="radio-4">Годовщина свадьбы</label>
              </div>
              <div class="holiday">
                <input
                  type="radio"
                  v-model="holiday"
                  id="radio-5"
                  value="Выпускной"
                />
                <label for="radio-5">Выпускной</label>
              </div>
              <div class="holiday">
                <input
                  type="radio"
                  v-model="holiday"
                  id="radio-6"
                  value="Последний звонок"
                />
                <label for="radio-6">Последний звонок</label>
              </div>
              <div class="holiday">
                <input
                  type="radio"
                  v-model="holiday"
                  id="radio-7"
                  value="Без повода"
                />
                <label for="radio-7">Без повода</label>
              </div>
            </div>
          </div>
          <button id="find">
            Подобрать подарки
            <div class="button-inside">
              <img src="../assets/icn_search.svg" alt="—>" />
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Constructor",
  data() {
    return {
      gender: "",
      isHobbyDropdownOpened: false,
      hobby: "Выберите хобби",
      isWorkDropdownOpened: false,
      work: "Выберите профессию",
      maxPrice: 500,
      maxPriceRangeWidth: 0,
      age: 0,
      ageRangeWidth: 0,
      step: 1,
      holiday: ""
    };
  },
  methods: {
    changeGender(pickedGender) {
      this.gender = pickedGender;
    },
    changeHobbyDropdownState() {
      this.isHobbyDropdownOpened = !this.isHobbyDropdownOpened;
      if (this.isWorkDropdownOpened == true) {
        this.isWorkDropdownOpened = false;
      }
    },
    changeHobby(pickedHobby) {
      this.hobby = pickedHobby;
      this.changeHobbyDropdownState();
    },
    changeWorkDropdownState() {
      this.isWorkDropdownOpened = !this.isWorkDropdownOpened;
      if (this.isHobbyDropdownOpened == true) {
        this.isHobbyDropdownOpened = false;
      }
    },
    changeWork(pickedWork) {
      this.work = pickedWork;
      this.changeWorkDropdownState();
    },
    calculateMaxPriceRangeWidth() {
      this.maxPriceRangeWidth = this.$refs.maxPriceRange.clientWidth - 48;
    },
    calculateAgeRangeWidth() {
      this.ageRangeWidth = this.$refs.ageRange.clientWidth - 48;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/colors.scss";
@import "@/global-styles/typography.scss";
@import "@/global-styles/components.scss";

.constructor {
  width: 100%;
  border-radius: 120px;
  box-shadow: 0 20px 60px 0 rgba(0, 80, 203, 0.2);
  background-color: $white;
  margin-top: 80px;
  padding: 70px 80px 80px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;

  .step {
    left: 0;
    transition: all 0.2s ease;

    &.hidden {
      position: absolute;
      left: -100%;
    }

    &#second-step {
      position: absolute;
      left: 100%;

      &.active {
        left: 0;
        position: relative;
      }
    }
  }

  .heading-container {
    display: flex;
    position: relative;

    img {
      width: 60px;
      height: 60px;
    }

    .headline {
      margin-left: 40px;

      h3 {
        margin-bottom: 5px;
      }

      h4 {
        display: inline;

        &.steps {
          position: absolute;
          right: 0;
        }
      }
    }
  }

  .content {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 440px;
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    margin-left: 100px;
    position: relative;

    button {
      width: 100%;
      height: 80px;
      border-radius: 80px;
      box-shadow: 0 20px 40px 0 rgba(0, 101, 255, 0.4);
      border: none;
      margin-top: auto;
      font-family: Roboto;
      font-size: 24px;
      color: $white;
      background: url("../assets/bg_button-blue.svg") $deep-sky-blue;
      cursor: pointer;
      position: relative;

      .button-inside {
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: $white;
        top: calc(50% - 30px);
        border-radius: 50%;
        opacity: 0;
        right: 12px;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &#next {
        img {
          transform: rotate(180deg);
        }

        .button-inside {
          right: 25px;
        }
      }

      &#find {
        width: 440px;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      &:hover {
        .button-inside {
          opacity: 1;
        }

        &#next {
          .button-inside {
            right: 12px;
          }
        }
      }
    }

    .constructor-field-container {
      h5 {
        margin-bottom: 15px;
      }

      .dropdown-container {
        height: 60px;
      }

      .constructor-field {
        width: 100%;
        height: 60px;
        border-radius: 40px;
        border: solid 1px $very-light-blue;
        background: $white;

        &.dropdown {
          height: 100%;
          font-family: Roboto;
          font-size: 18px;
          position: relative;
          transition: all 0.2s ease;
          overflow: hidden;

          .placeholder {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            padding: 25px;
            cursor: pointer;
            border-bottom: 0 solid $very-light-blue;
            transition: all 0.2s ease;

            p {
              color: #a2b6cc;

              &.active {
                color: $black;
              }
            }

            svg {
              margin-left: auto;
              transition: all 0.2s ease;

              path {
                transition: stroke 0.2s ease;
              }
            }

            &:hover {
              svg path {
                stroke: $deep-sky-blue;
              }
            }
          }

          .dropdown-content {
            display: none;
            height: 303px;
            overflow: auto;
            padding-left: 25px;
            padding-top: 18px;

            p {
              margin-bottom: 18px;
              cursor: pointer;
              transition: all 0.2s ease;

              &:hover {
                color: $deep-sky-blue;
              }
            }

            &::-webkit-scrollbar {
              width: 35px;
              height: 10px;
            }

            &::-webkit-scrollbar-thumb {
              border: 16px solid rgba(0, 0, 0, 0);
              background-clip: padding-box;
              border-radius: 50px;
              background-color: $deep-sky-blue;
            }

            &.active {
              display: block;
            }
          }

          &.active {
            height: 364px;
            border-radius: 30px;
            box-shadow: 0 10px 30px 0 rgba(0, 80, 203, 0.2);
            border-width: 0px;
            z-index: 3;

            .placeholder {
              border-width: 1px;

              svg {
                transform: rotate(-180deg);

                path {
                  stroke: $deep-sky-blue;
                }
              }
            }
          }
        }

        &#gender-picker {
          position: relative;

          .gender {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(50% + 5px);
            position: absolute;
            font-family: Roboto;
            font-size: 18px;
            z-index: 1;
            cursor: pointer;
            transition: all 0.2s ease;

            &#man {
              right: 0;
            }

            &#woman {
              left: 0;
            }

            &:hover {
              color: $clear-blue;
            }

            &.active {
              width: calc(50% + 10px);
              color: $white;
              cursor: default;

              &:hover {
                color: $white;
              }
            }
          }

          .slider {
            width: calc(50% + 10px);
            height: 100%;
            border-radius: 40px;
            box-shadow: 0 10px 20px 0 rgba(51, 146, 255, 0.4);
            background-color: $deep-sky-blue;
            position: absolute;
            z-index: 0;
            opacity: 0;
            transition: all 0.2s ease;

            &.man {
              left: calc(100% - (50% + 10px));
              opacity: 1;
            }

            &.woman {
              left: 0;
              opacity: 1;
            }
          }
        }
      }

      .range-container {
        margin-top: 15px;
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;

        input[type="range"] {
          -webkit-appearance: none;
          margin: 0;
          width: 100%;
        }

        input[type="range"]:focus {
          outline: none;
        }

        input[type="range"]::-webkit-slider-runnable-track {
          width: 100%;
          height: 2px;
          cursor: pointer;
          box-shadow: none;
          background: $very-light-blue;
          border-radius: 10px;
        }

        input[type="range"]::-webkit-slider-thumb {
          box-shadow: none;
          height: 48px;
          width: 48px;
          border-radius: 24px;
          background: none;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -23px;
        }

        .range-thumb-content {
          position: absolute;
          font-family: Roboto;
          font-size: 18px;
          color: $white;
          left: 0;
          padding: 13px;
          border-radius: 200px;
          background-color: $deep-sky-blue;
          height: 48px;
          pointer-events: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &#ageRange {
          .range-thumb-content {
            width: 48px;
          }
        }
      }

      .holidays {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 200px;
        margin-top: 45px;

        .holiday {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          label {
            font-family: Roboto;
            font-size: 18px;
            color: $black;
            margin-left: 10px;
            margin-right: 75px;
            cursor: pointer;
          }

          input[type="radio"] {
            width: 30px;
            height: 30px;
            border-radius: 40px;
            border: solid 1px #b8c7e5;
            transition: all 0.2s ease;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              border-color: $deep-sky-blue;
            }

            &:checked {
              border-color: $deep-sky-blue;

              &:after {
                opacity: 1;
              }
            }

            &:after {
              content: "";
              opacity: 0;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background: $deep-sky-blue;
              transition: all 0.2s ease;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .constructor {
    margin-top: 40px;
    padding: 70px 60px 80px 60px;

    .content {
      grid-column-gap: 40px;
      grid-template-columns: 4fr 4fr 5fr;
    }
  }
}

@media screen and (max-width: 1280px) {
  .constructor {
    margin-top: 45px;

    .content {
      grid-column-gap: 120px;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 1150px) {
  .constructor {
    max-width: 604px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 40px 60px 60px;

    .content {
      grid-template-columns: 1fr;
      margin-left: auto;
      margin-right: auto;

      button {
        margin-top: 20px;
      }
    }

    .heading-container {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .headline {
        margin-left: 0;
        margin-top: 15px;

        h3 {
          margin-bottom: 20px;
        }

        .steps {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0;
  }

  .constructor {
    border-radius: 50px;
    padding: 36px 40px 48px 40px;

    .heading-container {
      .icon {
        width: 40px;
        height: 40px;
      }

      .headline {
        margin-top: 12px;

        h3 {
          font-size: 16px;
          margin-bottom: 12px;
        }

        h4 {
          font-size: 14px;
        }
      }
    }

    .content {
      grid-row-gap: 20px;

      button {
        height: 50px;
        font-size: 14px;

        &#next {
          .button-inside {
            right: 8px;
          }

          &:hover {
            .button-inside {
              right: 8px;
            }
          }
        }

        .button-inside {
          width: 36px;
          height: 36px;
          top: calc(50% - 18px);
          opacity: 1;
          right: 8px;

          img {
            width: 13px;
          }
        }
      }

      .constructor-field-container {
        h5 {
          font-size: 14px;
          margin-bottom: 12px;
        }

        .dropdown-container {
          height: 50px;
        }

        .constructor-field {
          height: 50px;

          &#gender-picker {
            .gender {
              font-size: 14px;
            }
          }

          &.dropdown {
            font-size: 14px;

            .placeholder {
              height: 50px;
            }
          }
        }

        .range-container .range-thumb-content {
          font-size: 14px;
        }
      }
    }
  }
}
</style>
