<template>
  <footer>
    <div class="find-gift">
      <div class="container">
        <h2>Не нашли нужный подарок?</h2>
        <p>
          Воспользуйтесь нашим уникальным конструктором для подбора идеального
          подарка
        </p>
        <button>Подобрать подарок</button>
      </div>
    </div>
    <div class="container footer">
      <div class="meaning">
        <h3>Что такое Major Gifts?</h3>
        <p>
          Мы помогаем находить подарки на любой случай или повод и подсказываем,
          где их можно купить. Мы — навигатор
        </p>
      </div>
      <div class="social">
        <h3>Мы в соцсетях</h3>
        <div class="social-logo">
          <img src="@/assets/vk-logo.svg" alt="vkontakte" />
          <img src="@/assets/instagram-logo.svg" alt="instagram" />
          <img src="@/assets/facebook-logo.svg" alt="facebook" />
          <img src="@/assets/odnoklassniki-logo.svg" alt="odnoklassniki" />
        </div>
      </div>
      <div class="subscribe">
        <h3>Узнавайте о выгодных предложениях</h3>
        <div class="email-input">
          <input type="text" placeholder="E-mail" />
          <button>Подписаться</button>
        </div>
      </div>
      <p class="copyright">© ООО «Major Gifts», 2019</p>
    </div>
  </footer>
</template>
<script>
export default {
  name: "Footer"
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/colors.scss";
@import "@/global-styles/typography.scss";
@import "@/global-styles/components.scss";

footer {
  font-family: Roboto;
  margin-top: 120px;

  .find-gift {
    width: 100%;
    height: 300px;
    background: url("../assets/footerBG.svg") no-repeat center center / cover;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    h2 {
      margin-bottom: 25px;
    }

    p {
      text-shadow: 0 10px 20px rgba(0, 60, 152, 0.4);
      font-size: 18px;
      line-height: 1.33;
      color: $white;
      max-width: 462px;
      text-align: center;
    }

    button {
      width: 240px;
      height: 60px;
      border: none;
      border-radius: 40px;
      box-shadow: 0 10px 20px 0 rgba(254, 168, 50, 0.6);
      background-color: #fea832;
      margin-top: 20px;
      text-shadow: 0 4px 4px #ff8c18;
      font-size: 18px;
      color: $white;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: $white;
        box-shadow: none;
        text-shadow: none;
        color: $clear-blue;
      }
    }
  }

  .footer {
    width: 100%;
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;

    .copyright {
      font-size: 14px;
      line-height: 1.71;
      color: $grey-blue;
      position: absolute;
      bottom: 40px;
    }

    h3 {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      color: $black;
    }

    .meaning {
      margin-bottom: 50px;

      h3 {
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: normal;
        color: $dusky-blue;
        width: 300px;
      }
    }

    .social {
      margin-bottom: 50px;

      .social-logo {
        display: flex;
        align-items: center;

        img {
          margin-right: 32px;
          cursor: pointer;
        }
      }
    }

    .email-input {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      margin-bottom: 50px;

      input {
        width: 401px;
        height: 60px;
        border-radius: 40px;
        border: solid 1px $very-light-blue;
        font-size: 18px;
        z-index: 1;
        text-align: left;
        padding-left: 30px;
        outline: none;
      }

      button {
        width: 180px;
        height: 60px;
        border: 0;
        border-radius: 40px;
        background-color: $deep-sky-blue;
        font-size: 18px;
        color: $white;
        z-index: 2;
        margin-left: -100px;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
          box-shadow: 0 10px 20px 0 rgba(51, 146, 255, 0.4);
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  footer {
    margin-top: 60px;
  }
}

@media screen and (max-width: 567px) {
  footer {
    margin-top: 32px;

    .find-gift {
      h2 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }

      button {
        width: 180px;
        height: 48px;
        font-size: 14px;
      }
    }

    .footer {
      h3 {
        font-size: 14px;
        margin-bottom: 16px;
      }

      .social {
        margin-bottom: 26px;
      }

      .subscribe {
        width: 100%;

        .email-input {
          width: 100%;

          input {
            width: 100%;
            height: 48px;
            font-size: 14px;
            padding-left: 20px;
          }

          button {
            width: 132px;
            height: 48px;
            font-size: 14px;
          }
        }
      }

      .meaning {
        margin-bottom: 24px;

        h3 {
          margin-bottom: 12px;
        }

        p {
          font-size: 14px;
          width: 100%;
        }
      }
    }
  }
}
</style>
