<template>
  <div class="header">
    <header>
      <div class="container">
        <img src="@/assets/logo.svg" alt="logo" id="logo" />
        <p class="logo">Major Gifts</p>
        <nav>
          <a href="#">Каталог подарков</a>
          <a href="#">Что подарить?</a>
          <a href="#">Календарь праздников</a>
        </nav>
        <a href="#" id="pick-up-gift">Подобрать подарок</a>
        <button class="circle-button" id="search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="21"
            height="22"
            fill="none"
            viewBox="0 0 21 22"
          >
            <circle
              cx="9.209"
              cy="9.209"
              r="7.709"
              stroke="#0D7BF8"
              stroke-width="3"
            ></circle>
            <path
              stroke="#0D7BF8"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              d="M14.326 15.349l5.116 5.116"
            ></path>
          </svg>
        </button>
        <button class="circle-button" id="favourite">
          <p>15</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="17"
            fill="none"
            viewBox="0 0 18 17"
          >
            <path
              fill="#FFA426"
              d="M8.443.313a.508.508 0 0 1 .938 0l2.098 5.046a.508.508 0 0 0 .429.311l5.447.437c.45.036.633.598.29.892l-4.15 3.555a.508.508 0 0 0-.164.503l1.268 5.316a.508.508 0 0 1-.759.551l-4.664-2.848a.508.508 0 0 0-.53 0l-4.663 2.848a.508.508 0 0 1-.758-.551l1.267-5.316a.508.508 0 0 0-.163-.503L.179 6.999a.508.508 0 0 1 .29-.892l5.447-.437a.508.508 0 0 0 .428-.311L8.443.313z"
            ></path>
          </svg>
        </button>
        <button
          class="hamburger hamburger--spin circle-button"
          :class="{ 'is-active': isMenuOpened }"
          @click="toggleMenuOpened"
          id="menu-button"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </header>
    <div class="menu" :class="{ active: isMenuOpened }">
      <p>Меню</p>
      <a href="#">
        <h3>Каталог подарков</h3>
      </a>
      <a href="#">
        <h3>Что подарить?</h3>
      </a>
      <a href="#">
        <h3>Календарь праздников</h3>
      </a>
      <a href="#">
        <h3>Подобрать подарок</h3>
      </a>
    </div>
  </div>
</template>

<script>
import "hamburgers/_sass/hamburgers/hamburgers.scss";

export default {
  name: "Header",
  computed: {
    isMenuOpened() {
      return this.$store.getters.isMenuOpened;
    }
  },
  methods: {
    toggleMenuOpened() {
      this.$store.commit("toggleMenuOpened");
      document.body.style.overflowX =
        document.body.style.overflowX === "hidden" ? "" : "hidden";
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/colors.scss";
@import "@/global-styles/typography.scss";
@import "@/global-styles/components.scss";

header {
  height: 100px;
  border-bottom: solid 1px $very-light-blue;
  display: flex;
  align-items: center;
  background-color: $white;
  z-index: 2;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: $black;
  display: inline;
  margin-left: 15px;
}

nav a {
  margin-left: 30px;

  &:first-child {
    margin-left: 70px;
  }
}

#pick-up-gift {
  font-family: Roboto;
  font-size: 16px;
  color: $black;
  margin-left: auto;
  margin-right: 30px;
  transition: color 0.2s ease;

  &:hover {
    color: $clear-blue;
  }
}

#search:hover {
  svg circle,
  path {
    stroke: $white !important;
  }
}

#favourite {
  margin-left: 20px;
  width: 81px;

  p {
    font-family: Roboto;
    font-size: 16px;
    color: $dusky-blue;
    display: inline;
    margin-right: 5px;
  }

  &:hover {
    box-shadow: 0 10px 20px 0 rgba(255, 164, 38, 0.2);
    background-color: #ffa426;

    p {
      color: $white;
    }

    svg path {
      fill: $white;
    }
  }
}

#menu-button {
  display: none;

  &:hover {
    span span,
    span span::before,
    span span::after {
      background-color: $white;
    }
  }

  &.is-active {
    box-shadow: 0 10px 20px 0 rgba(51, 146, 255, 0.2);
    background-color: $deep-sky-blue;
  }
}

// Настройки hamburgers
$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;
$hamburger-layer-width: 18px !default;
$hamburger-layer-height: 3px !default;
$hamburger-layer-spacing: 3px !default;
$hamburger-layer-color: $black !default;
$hamburger-layer-border-radius: 10px !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-active-layer-color: $white !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x;

  &:hover {
    opacity: $hamburger-hover-opacity;
  }

  &.is-active {
    &:hover {
      opacity: $hamburger-active-hover-opacity;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $hamburger-active-layer-color;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
}

.hamburger-inner {
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

.menu {
  width: 100%;
  height: 396px;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 4px 12px 0 rgba(0, 80, 203, 0.1);
  background-color: $white;
  position: absolute;
  top: -396px;
  transition: all 0.2s ease;
  padding-left: 82px;
  padding-top: 48px;

  h3 {
    margin-bottom: 56px;
  }

  p {
    display: none;
  }

  &.active {
    top: 82px;
  }
}

@media screen and (max-width: 1440px) {
  header {
    height: 81px;
  }

  nav a:first-child {
    margin-left: 65px;
  }
}

@media screen and (max-width: 1440px) {
  nav a {
    margin-left: 20px;

    &:first-child {
      margin-left: 40px;
    }
  }

  #pick-up-gift {
    margin-right: 20px;
  }

  #favourite {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1200px) {
  #menu-button {
    display: flex;
    margin-left: 16px;
  }

  nav a,
  #pick-up-gift {
    display: none;
  }

  #search {
    margin-left: auto;
  }

  #favourite {
    margin-left: 16px;
  }
}

@media screen and (max-width: 550px) {
  header {
    height: 56px;
  }

  #logo {
    transform: scale(0.7);
  }

  .logo {
    font-size: 12px;
    margin-left: 2px;
  }

  #favourite {
    margin-left: 9px;
    width: 44px;

    p {
      font-size: 12px;
      margin-right: -2px;
    }

    svg {
      transform: scale(0.5);
    }
  }

  .hamburger-box {
    transform: scale(0.5);
  }

  #search svg {
    transform: scale(0.5);
  }

  #menu-button {
    margin-left: 12px;
  }

  .menu {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: $white;
    position: absolute;
    top: -100%;
    transition: all 0.2s ease;
    padding-left: 16px;
    padding-top: 56px;

    p {
      display: block;
      font-family: Roboto;
      font-size: 14px;
      color: $grey-blue;
      margin-bottom: 32px;
    }

    h3 {
      font-size: 16px;
      margin-bottom: 32px;
    }

    &.active {
      top: 56px;
    }
  }
}
</style>
