<template>
  <div class="container">
    <div
      class="big-category"
      id="man"
      :class="{
        active: currentCategory == 'man',
        hidden: currentCategory != 'none' && currentCategory != 'man'
      }"
      @click="currentCategory = 'man'"
    >
      <div class="heading-container">
        <button
          class="circle-button"
          :class="{ active: currentCategory == 'man' }"
          @click.stop="currentCategory = 'none'"
        >
          <img src="@/assets/left-arrow-blue.svg" alt="<—" class="closeArrow" />
          <img src="@/assets/cross-blue.svg" alt="x" class="closeCross" />
        </button>
        <div class="headline">
          <p>Оригинальные подарки</p>
          <h1>Мужчине</h1>
        </div>
      </div>
      <div
        class="navigation-links"
        :class="{ active: currentCategory == 'man' }"
      >
        <a href="#">Любимому</a>
        <a href="#">Мужу</a>
        <a href="#">Папе</a>
        <a href="#">Другу</a>
        <a href="#">Брату</a>
        <a href="#">Дедушке</a>
        <a href="#">Шефу</a>
        <a href="#">Учителю</a>
        <a href="#">Коллеге</a>
      </div>
      <div class="img-container">
        <img src="@/assets/man.png" alt="gift-for-man" />
      </div>
      <div class="blur"></div>
    </div>
    <div
      class="big-category"
      id="woman"
      :class="{
        active: currentCategory == 'woman',
        hidden: currentCategory != 'none' && currentCategory != 'woman'
      }"
      @click="currentCategory = 'woman'"
    >
      <div class="heading-container">
        <button
          class="circle-button"
          :class="{ active: currentCategory == 'woman' }"
          @click.stop="currentCategory = 'none'"
        >
          <img src="@/assets/left-arrow-pink.svg" alt="<—" class="closeArrow" />
          <img src="@/assets/cross-pink.svg" alt="x" class="closeCross" />
        </button>
        <div class="headline">
          <p>Удивительные подарки</p>
          <h1>Женщине</h1>
        </div>
      </div>
      <div
        class="navigation-links"
        :class="{ active: currentCategory == 'woman' }"
      >
        <a href="#">Любимой</a>
        <a href="#">Жене</a>
        <a href="#">Маме</a>
        <a href="#">Подруге</a>
        <a href="#">Сестре</a>
        <a href="#">Бабушке</a>
        <a href="#">Шефу</a>
        <a href="#">Учителю</a>
        <a href="#">Коллеге</a>
      </div>
      <div class="img-container">
        <img src="@/assets/woman.png" alt="gift-for-woman" />
      </div>
      <div class="blur"></div>
    </div>
    <div
      class="big-category"
      id="teen"
      :class="{
        active: currentCategory == 'teen',
        hidden: currentCategory != 'none' && currentCategory != 'teen'
      }"
      @click="currentCategory = 'teen'"
    >
      <div class="heading-container">
        <button
          class="circle-button"
          :class="{ active: currentCategory == 'teen' }"
          @click.stop="currentCategory = 'none'"
        >
          <img
            src="@/assets/left-arrow-purple.svg"
            alt="<—"
            class="closeArrow"
          />
          <img src="@/assets/cross-purple.svg" alt="x" class="closeCross" />
        </button>
        <div class="headline">
          <p>Классные подарки</p>
          <h1>Подростку</h1>
        </div>
      </div>
      <div
        class="navigation-links"
        :class="{ active: currentCategory == 'teen' }"
      >
        <a href="#">Парню</a>
        <a href="#">Девушке</a>
        <a href="#">Сыну</a>
        <a href="#">Дочери</a>
        <a href="#">Брату</a>
        <a href="#">Сестре</a>
        <a href="#">Другу</a>
        <a href="#">Сестре</a>
      </div>
      <div class="img-container">
        <img src="@/assets/teen.png" alt="gift-for-teen" />
      </div>
      <div class="blur"></div>
    </div>
    <div
      class="big-category"
      id="child"
      :class="{
        active: currentCategory == 'child',
        hidden: currentCategory != 'none' && currentCategory != 'child'
      }"
      @click="currentCategory = 'child'"
    >
      <div class="heading-container">
        <button
          class="circle-button"
          :class="{ active: currentCategory == 'child' }"
          @click.stop="currentCategory = 'none'"
        >
          <img
            src="@/assets/left-arrow-orange.svg"
            alt="<—"
            class="closeArrow"
          />
          <img src="@/assets/cross-orange.svg" alt="x" class="closeCross" />
        </button>
        <div class="headline">
          <p>Веселые подарки</p>
          <h1>Ребенку</h1>
        </div>
      </div>
      <div
        class="navigation-links"
        :class="{ active: currentCategory == 'child' }"
      >
        <a href="#">Мальчику</a>
        <a href="#">Девочке</a>
        <a href="#">Младенцу</a>
        <a href="#">Школьнику</a>
        <a href="#">Школьнице</a>
      </div>
      <div class="img-container">
        <img src="@/assets/child.png" alt="gift-for-child" />
      </div>
      <div class="blur"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "WhoToGift",
  data: function() {
    return {
      currentCategory: "none"
    };
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/colors.scss";
@import "@/global-styles/typography.scss";
@import "@/global-styles/components.scss";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-top: 60px;
}

.big-category {
  width: 100%;
  height: 355px;
  border-radius: 120px;
  padding-top: 100px;
  padding-left: 50px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  pointer-events: none;
  opacity: 1;

  .heading-container {
    display: flex;
    align-items: flex-end;
    z-index: 3;
    position: relative;
    pointer-events: auto;
  }

  button {
    display: none;
    margin-bottom: 5px;
    margin-right: 40px;

    .closeCross {
      display: none;
    }

    &.active {
      display: flex;
    }

    &:hover {
      background-color: $white;
    }
  }

  .navigation-links {
    display: none;
    margin-left: 102px;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 51px;
    z-index: 3;
    pointer-events: auto;

    a {
      width: 250px;
      font-family: "Montserrat Alternates", sans-serif;
      font-size: 36px;
      font-weight: 900;
      color: $white;
      margin-top: 60px;
      margin-right: 100px;
    }

    &.active {
      display: flex;
    }
  }

  &.active {
    width: calc(200% + 40px);
    height: calc(200% + 40px);
    z-index: 5;
    cursor: default;
    border-radius: 160px;

    .img-container {
      border-radius: 160px;
    }

    .blur {
      border-radius: 160px;
    }
  }

  &.hidden {
    opacity: 0;
  }

  &#man {
    background: url("../assets/bg_category-man.svg") no-repeat center center /
      cover;

    .blur {
      background-image: linear-gradient(
        to bottom,
        rgba(13, 123, 248, 0) 49%,
        $deep-sky-blue
      );
    }

    .img-container {
      top: -49px;
      height: 404px;

      img {
        right: -40px;
      }
    }

    h1 {
      text-shadow: 0 10px 40px rgba(0, 90, 229, 0.8);
    }

    .navigation-links a {
      text-shadow: 0 10px 20px rgba(0, 71, 180, 0.4);
    }

    &.active {
      .img-container {
        top: auto;
        bottom: 0;
      }

      .blur {
        background-image: linear-gradient(
          to bottom,
          rgba(13, 123, 248, 0) 73%,
          $deep-sky-blue
        );
      }

      &:hover {
        box-shadow: none;
      }
    }

    &:hover {
      box-shadow: 0px 10px 20px rgba(13, 123, 248, 0.4);
    }
  }

  &#woman {
    background: url("../assets/bg_category-woman.svg") no-repeat center center /
      cover;
    position: relative;
    left: 0;

    .blur {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 51, 187, 0) 49%,
        $barbie-pink
      );
    }

    .img-container {
      top: -50px;
      height: 405px;

      img {
        right: -322px;
      }
    }

    h1 {
      text-shadow: 0 10px 60px rgba(229, 0, 115, 0.8);
    }

    .navigation-links a {
      text-shadow: 0 10px 20px rgba(229, 0, 115, 0.4);
    }

    &:hover {
      box-shadow: 0px 10px 20px rgba(255, 51, 187, 0.4);
    }

    &.active {
      left: calc(-100% - 40px);

      .img-container {
        top: auto;
        bottom: 0;
      }

      .blur {
        background-image: linear-gradient(
          to bottom,
          rgba(255, 51, 187, 0) 73%,
          $barbie-pink
        );
      }

      &:hover {
        box-shadow: none;
      }
    }
  }

  &#teen {
    background: url("../assets/bg_category-teen.svg") no-repeat center center /
      cover;
    position: relative;
    top: 0;

    .blur {
      background-image: linear-gradient(
        to bottom,
        rgba(179, 26, 255, 0) 49%,
        $neon-purple
      );
    }

    .img-container {
      top: -56px;
      height: 411px;

      img {
        right: 17px;
      }
    }

    h1 {
      text-shadow: 0 10px 40px rgba(136, 0, 204, 0.6);
    }

    .navigation-links a {
      text-shadow: 0 10px 20px rgba(136, 0, 204, 0.4);
    }

    &:hover {
      box-shadow: 0px 10px 20px rgba(179, 26, 255, 0.4);
    }

    &.active {
      top: calc(-100% - 40px);

      .img-container {
        top: auto;
        bottom: 0;
      }

      .blur {
        background-image: linear-gradient(
          to bottom,
          rgba(179, 26, 255, 0) 73%,
          $neon-purple
        );
      }

      &:hover {
        box-shadow: none;
      }
    }
  }

  &#child {
    background: url("../assets/bg_category-child.svg") no-repeat center center /
      cover;
    position: relative;
    left: 0;
    top: 0;

    .blur {
      background-image: linear-gradient(
        to bottom,
        rgba(255, 179, 26, 0) 49%,
        $orangey-yellow
      );
    }

    .img-container {
      top: -155px;
      height: 510px;

      img {
        right: -23px;
      }
    }

    h1 {
      text-shadow: 0 10px 60px rgba(255, 121, 26, 0.8);
    }

    .navigation-links a {
      text-shadow: 0 10px 20px rgba(255, 121, 26, 0.4);
    }

    &:hover {
      box-shadow: 0px 10px 20px rgba(255, 179, 26, 0.4);
    }

    &.active {
      left: calc(-100% - 40px);
      top: calc(-100% - 40px);

      .img-container {
        top: auto;
        bottom: 0;
      }

      .blur {
        background-image: linear-gradient(
          to bottom,
          rgba(255, 179, 26, 0) 73%,
          $orangey-yellow
        );
      }

      &:hover {
        box-shadow: none;
      }
    }
  }

  h1 {
    position: relative;
  }

  p {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.56;
    color: $white;
  }

  .img-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    right: 0;
    z-index: 2;
    border-radius: 120px;

    img {
      position: absolute;
    }
  }

  .blur {
    width: 100%;
    height: 100%;
    border-radius: 120px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: auto;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    grid-gap: 20px;
    margin-top: 40px;
  }

  .big-category {
    padding-left: 40px;

    .navigation-links a {
      margin-right: 80px;
    }

    &#man {
      .img-container {
        top: -35px;
        height: 390px;

        img {
          width: 407px;
          height: 570px;
        }
      }

      &.active .img-container img {
        width: 424px;
        height: 594px;
        right: -80px;
      }
    }

    &#woman {
      .img-container {
        top: -43px;
        height: 398px;

        img {
          right: -342px;
          width: 900px;
          height: 562px;
        }
      }

      &.active .img-container img {
        width: 932px;
        height: 582px;
        right: -363px;
      }
    }

    &#teen {
      .img-container {
        top: -41px;
        height: 396px;
      }

      &.active .img-container img {
        right: -21px;
      }
    }

    &#child {
      .img-container {
        top: -140px;
        height: 495px;
      }

      &.active .img-container img {
        right: -63px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .big-category {
    .navigation-links a {
      margin-right: 50px;
    }

    &#man .img-container img {
      right: -70px;
    }

    &#woman .img-container img {
      right: -357px;
    }

    &#teen .img-container img {
      right: -13px;
    }

    &#child .img-container img {
      right: -56px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    grid-gap: 16px;
  }

  .big-category {
    padding-left: 0;
    padding-top: 247px;
    display: flex;
    justify-content: center;

    .heading-container {
      text-align: center;
      align-items: flex-start;

      h1 {
        text-shadow: 0 10px 40px rgba(0, 90, 229, 0.6);
        font-size: 36px;
      }

      p {
        font-size: 16px;
        line-height: 1.75;
      }
    }

    &#man {
      .img-container {
        top: -32px;
        height: 386px;

        img {
          width: 424px;
          height: 594px;
          right: calc(50% - 424px / 2);
        }
      }

      &.active {
        .img-container {
          top: 429px;
          height: 297px;

          img {
            width: 359px;
            height: 503px;
            right: -49px;
          }
        }
      }
    }

    &#woman {
      .img-container {
        top: -39px;
        height: 394px;

        img {
          width: 932px;
          height: 582px;
          right: calc(50% - 932px / 2);
        }
      }

      &.active {
        left: calc(-100% - 16px);

        .img-container {
          top: 424px;
          height: 302px;

          img {
            width: 806px;
            height: 504px;
            right: -305px;
          }
        }
      }
    }

    &#teen {
      .img-container {
        top: -36px;
        height: 391px;

        img {
          width: 355px;
          height: 459px;
          right: calc(50% - 355px / 2);
        }
      }

      &.active {
        top: calc(-100% - 16px);

        .img-container {
          top: 423px;
          height: 303px;

          img {
            width: 331px;
            height: 428px;
            right: -5px;
          }
        }
      }
    }

    &#child {
      .img-container {
        top: -134px;
        height: 489px;

        img {
          width: 566px;
          height: 708px;
          right: calc(50% - 566px / 2 + 50px);
        }
      }

      &.active {
        left: calc(-100% - 16px);
        top: calc(-100% - 16px);

        .img-container {
          top: 322px;
          height: 404px;

          img {
            width: 521px;
            height: 652px;
            right: -29px;
          }
        }
      }
    }

    &.active {
      width: calc(200% + 16px);
      height: calc(200% + 16px);
      border-radius: 140px;
      padding-top: 80px;
      padding-left: 40px;
      justify-content: flex-start;

      .img-container {
        border-radius: 140px;
      }

      .blur {
        border-radius: 140px;
      }

      .navigation-links {
        margin-top: 80px;
        max-width: 750px;

        a {
          font-size: 24px;
          margin-right: 0;
        }
      }
      .heading-container {
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .big-category {
    button {
      margin-right: 20px;
    }

    .heading-container {
      position: absolute;
    }

    .navigation-links {
      margin-left: 82px;

      a {
        margin-top: 50px;
        width: 220px;
      }
    }

    &.active {
      width: calc(200% + 8px);
    }

    &#woman.active {
      left: calc(-100% - 8px);
    }

    &#teen.active {
      top: calc(-100% - 8px);
    }

    &#child.active {
      left: calc(-100% - 8px);
      top: calc(-100% - 8px);
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    grid-gap: 8px;
    margin-top: 16px;
  }

  .big-category {
    border-radius: 80px;

    .img-container {
      border-radius: 80px;
    }

    .blur {
      border-radius: 80px;
    }
  }
}

@media screen and (max-width: 600px) {
  .big-category {
    height: 160px;
    border-radius: 50px;
    padding-top: 109px;

    p {
      display: none;
    }

    .heading-container {
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 10px;
      }
    }

    .img-container {
      border-radius: 50px;
    }

    .blur {
      border-radius: 50px;
    }

    &#man {
      .img-container {
        top: 0;
        height: 160px;

        img {
          width: 220px;
          height: 309px;
          right: calc(50% - 220px / 2 - 10px);
        }
      }

      &.active {
        .img-container {
          top: 203px;
          height: 133px;

          img {
            width: 189px;
            height: 266px;
            right: -50px;
          }
        }
      }
    }

    &#woman {
      .img-container {
        top: -3px;
        height: 157px;

        img {
          width: 451px;
          height: 282px;
          right: calc(50% - 451px / 2 - 25px);
        }
      }

      &.active {
        .img-container {
          top: 200px;
          height: 136px;

          img {
            width: 410px;
            height: 256px;
            right: -177px;
          }
        }
      }
    }

    &#teen {
      .img-container {
        top: -8px;
        height: 168px;

        img {
          width: 193px;
          height: 251px;
          right: calc(50% - 193px / 2);
        }
      }

      &.active {
        .img-container {
          top: 198px;
          height: 138px;

          img {
            width: 166px;
            height: 216px;
            right: -20px;
          }
        }
      }
    }

    &#child {
      .img-container {
        top: -59px;
        height: 219px;

        img {
          width: 283px;
          height: 354px;
          right: calc(50% - 283px / 2 + 35px);
        }
      }

      &.active {
        .img-container {
          top: 152px;
          height: 184px;

          img {
            width: 254px;
            height: 318px;
            right: -26px;
          }
        }
      }
    }
    &.active {
      border-radius: 60px;
      padding-left: 32px;
      padding-top: 24px;

      .img-container {
        border-radius: 60px;
      }

      .blur {
        border-radius: 60px;
      }

      .heading-container {
        width: calc(100% - 32px);

        button {
          position: absolute;
          right: 0;
          margin-right: 24px;
          margin-top: 5px;

          .closeCross {
            display: block;
          }

          .closeArrow {
            display: none;
          }
        }

        p {
          display: block;
        }
      }

      .navigation-links {
        margin-left: 0;
        margin-top: 50px;

        a {
          width: 100px;
          font-size: 14px;
          margin-right: 16px;
          margin-top: 25px;
        }
      }
    }
  }
}
</style>
