<template>
  <div id="app">
    <Header />
    <router-view
      :class="{ blurred: isMenuOpened }"
      style="transition: all 0.2s ease"
    />
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  components: {
    Header,
    Footer
  },
  computed: {
    isMenuOpened() {
      return this.$store.getters.isMenuOpened;
    }
  }
};
</script>

<style lang="scss">
@import "@/global-styles/colors.scss";
@import "@/global-styles/typography.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
}

.blurred {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -1;
  position: relative;
}
</style>
